{{- if .Values.apps.certManager.enabled }}

apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager-{{ .Values.apps.suffix }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  {{ if .Values.apps.project }}
  project: {{ .Values.apps.project }}
  {{ else }}
  project: infra-{{ .Values.apps.suffix }}
  {{ end }}
  source:
    repoURL: 'https://moreirodamian.github.io/helm-charts/'
    targetRevision: 1.20.2
    helm:
      valueFiles:
        - values.yaml
      parameters:
      {{- if and .Values.apps.certManager.cloudflare .Values.apps.certManager.cloudflare.dns .Values.apps.certManager.cloudflare.token }}
        - name: cert-manager-issuer.cloudflare.dns
          value: "true"
        - name: cert-manager-issuer.cloudflare-secret.encryptedData.api-token
          value: {{ .Values.apps.certManager.cloudflare.token }}
      {{- else }}
        - name: cert-manager-issuer.cloudflare.dns
          value: "false"
      {{- end }}
      {{- if and .Values.apps.certManager.digitalocean .Values.apps.certManager.digitalocean.dns .Values.apps.certManager.digitalocean.token }}
        - name: cert-manager-issuer.digitalocean.dns
          value: "true"
        - name: cert-manager-issuer.sealed-secret.encryptedData.access-token
          value: {{ .Values.apps.certManager.digitalocean.token }}
      {{- else }}
        - name: cert-manager-issuer.digitalocean.dns
          value: "false"
      {{- end }}
    chart: cert-manager
  destination:
    namespace: cert-manager
    name: {{ .Values.apps.destination.name }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
{{- end }}
