{{- if and .Values.apps.promtail.enabled .Values.promtail.url }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: promtail-{{ .Values.apps.suffix }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  {{ if .Values.apps.project }}
  project: {{ .Values.apps.project }}
  {{ else }}
  project: infra-{{ .Values.apps.suffix }}
  {{ end }}
  source:
    repoURL: 'https://moreirodamian.github.io/helm-charts/'
    targetRevision: 6.17.1
    chart: promtail
    helm:
      parameters:
        - name: "promtail.config.clients[0].url"
          value: {{ .Values.promtail.url }}
  destination:
    namespace: monitoring
    name: {{ .Values.apps.destination.name }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
{{- end }}
