{{- if .Values.apps.sealedSecrets.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sealed-secrets-{{ .Values.apps.suffix }}
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  {{ if .Values.apps.project }}
  project: {{ .Values.apps.project }}
  {{ else }}
  project: infra-{{ .Values.apps.suffix }}
  {{ end }}
  source:
    repoURL: 'https://moreirodamian.github.io/helm-charts/'
    targetRevision: 2.18.1
    chart: sealed-secrets
  destination:
    namespace: kube-system
    name: {{ .Values.apps.destination.name }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
{{- end }}
