{{- if .Values.cron.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "name" . }}-cron
  namespace: {{ .Release.Namespace }}
  labels:
    {{ include "common-labels" . | nindent 4 }}
spec:
  schedule: {{ quote .Values.cron.schedule }}
  failedJobsHistoryLimit: {{ .Values.cron.failedJobsHistoryLimit }}
  concurrencyPolicy: {{ .Values.cron.concurrencyPolicy }}
  successfulJobsHistoryLimit: {{ .Values.cron.successfulJobsHistoryLimit }}
  jobTemplate:
    spec:
      ttlSecondsAfterFinished: {{ .Values.cron.ttlSecondsAfterFinished }}
      template:
        spec:
          restartPolicy: Never
          {{- if .Values.dockerSecret.encryptedData }}
          imagePullSecrets:
            - name: docker-{{ template "name" . }}
          {{- end }}
          containers:
            - name: {{ template "name" . }}-cron
              image: {{ include "cron.image" . }}
              {{- with .Values.cron.command }}
              command:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              {{- with .Values.cron.args }}
              args:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              env:
                {{- range $k, $v := .Values.cron.env }}
                - name: {{ $k }}
                  value: {{ $v | quote }}
                {{- end }}
                {{- range $k, $v := .Values.app.secrets }}
                - name: {{ $k }}
                  valueFrom:
                    secretKeyRef:
                      name: {{ template "name" $ }}
                      key: {{ $k }}
                {{- end }}
              {{- if or .Values.cron.envFrom .Values.sealedSecrets.enabled }}
              envFrom:
                {{- with .Values.cron.envFrom }}
                {{- toYaml . | nindent 16 }}
                {{- end }}
                {{- if .Values.sealedSecrets.enabled }}
                - secretRef:
                    name: {{ template "name" . }}
                {{- end }}
              {{- end }}
              {{- with .Values.cron.resources }}
              resources:
                {{- toYaml . | nindent 16 }}
              {{- end }}
{{- end }}
