{{- if .Values.migrations.enabled }}
{{- $image := include "migrations.image" . -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "name" . }}-migrations
  namespace: {{ .Release.Namespace }}
  labels:
    {{ include "migrations-labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "-1"
spec:
  backoffLimit: {{ .Values.migrations.backoffLimit | default 1 }}
  activeDeadlineSeconds: {{ .Values.migrations.activeDeadlineSeconds | default 300 }}
  ttlSecondsAfterFinished: 30
  template:
    metadata:
      name: {{ template "name" . }}-migrations
      labels:
        {{ include "migrations-labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      {{- if .Values.dockerSecret.encryptedData }}
      imagePullSecrets:
        - name: docker-{{ template "name" . }}
      {{- end }}
      containers:
        - name: migrations
          image: {{ $image }}
          {{- with .Values.migrations.command }}
          command:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.migrations.args }}
          args:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- range $k, $v := .Values.app.env }}
            - name: {{ $k }}
              value: {{ $v | quote }}
            {{- end }}
            {{- range $k, $v := .Values.app.secrets }}
            - name: {{ $k }}
              valueFrom:
                secretKeyRef:
                  name: {{ template "name" $ }}
                  key: {{ $k }}
            {{- end }}
          {{- if or .Values.app.envFrom .Values.sealedSecrets.enabled }}
          envFrom:
            {{- with .Values.app.envFrom }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.sealedSecrets.enabled }}
            - secretRef:
                name: {{ template "name" . }}
            {{- end }}
          {{- end }}
          {{- with .Values.migrations.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
{{- end }}
