{{- if .Values.rollout -}}
{{- $image := include "app.image" . -}}
---
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ template "name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{ include "common-labels" . | nindent 4 }}
spec:
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  strategy:
    {{- .Values.rollout | toYaml | nindent 4 }}
  selector:
    matchLabels:
      {{ include "selector-labels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{ include "common-labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ template "name" . }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds | default 75 }}
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              {{ include "selector-labels" . | nindent 14 }}
      containers:
        - name: {{ template "name" . }}
          image: {{ $image }}
          imagePullPolicy: IfNotPresent
          env:
            {{- range $k, $v := .Values.app.env }}
            - name: {{ $k }}
              value: {{ $v | quote }}
            {{- end }}
            {{- range $k, $v := .Values.app.secrets }}
            - name: {{ $k }}
              valueFrom:
                secretKeyRef:
                  name: {{ template "name" $ }}
                  key: {{ $k }}
            {{- end }}
          {{- if or .Values.app.envFrom .Values.sealedSecrets.enabled }}
          envFrom:
            {{- with .Values.app.envFrom }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
            {{- if .Values.sealedSecrets.enabled }}
            - secretRef:
                name: {{ template "name" . }}
            {{- end }}
          {{- end }}
          ports:
            {{- range .Values.app.ports }}
            - name: {{ .name }}
              containerPort: {{ .containerPort }}
              protocol: {{ .protocol | default "TCP" }}
            {{- end }}
            {{- with .Values.service.additionalPorts }}
            {{- toYaml . | replace "target" "container"| nindent 12 }}
            {{- end }}
          {{- with .Values.app.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.app.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.app.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.app.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.app.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.app.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.dockerSecret.encryptedData }}
      imagePullSecrets:
        - name: docker-{{ template "name" . }}
      {{- end }}
{{- end }}
