spec:
  destination:
  source:
    targetRevision: HEAD
ingress:
  loadbalancerName: do-loadbalancer.com
  doProxyProtocol:
    enabled: false
prometheus:
  remoteWrite:
    url: ~
    secret:
      name: prom-secret
      username: ~
      password: ~
  clusterName: ~
promtail:
  url: ~
apps:
  suffix: dev
  destination:
    name: test-cluster-name
  ingress:
    enabled: true
  certManager:
    enabled: true
    digitalocean:
      dns: false
      token: ~
    cloudflare:
      dns: false
      token: ~
  prometheus:
    enabled: true
  promtail:
    enabled: true
  rollout:
    enabled: true
  sealedSecrets:
    enabled: false
  metricsServer:
    version: 3.13.0
