{{- if .Values.secrets -}}
apiVersion: v1
kind: Secret
metadata:
  name: laravel-secrets
  labels:
    name: laravel-secrets
  namespace: {{ .Values.global.namespace | default .Values.namespace}}
type: Opaque
{{- with .Values.secrets }}
stringData:
  {{- toYaml . | nindent 2 }}
{{- end }}
{{- end }}
